.row {
    font-size: 30px;    
}

#currentWord {
    line-height: 80px;
    text-align: center;
    letter-spacing: 10px;
}

.keyboard {
    text-align: center;
    /* font-weight: bold; */
}

.keyboard .letter {
    width: 52px;
    height: 52px;
    margin: 2px;
    display: inline-block;
    border-radius: 40px;
    text-align: center;
    color: white;
    border-width: 3px;
    border-style: solid;
    cursor: pointer;
    line-height: 48px;
    /* font-weight: bold; */
    background-color: #3498db;
    border-color: #3498db;
}

.keyboard .letter:hover {
    background-color: #3468ab;
    border-color: #3468ab;
}

.keyboard .letter.correct {
    color: #47db34;
    background-color: #ffffff;
    border-color: #47db34;
}

.keyboard .letter.wrong {
    color: #db3434;
    background-color: #ffffff;
    border-color: #db3434;
}

#gameMessage {
    text-align: center;
}

.buttons {
    text-align: center;
    padding-top: 15px;
}

.btn {
    text-align: center;
    line-height: 30px;
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: none;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 15px;
}

#animation { 
    background-repeat: no-repeat; 
    height: 320px; 
    width: 200px; 
    margin: 0 auto;
}

.animation-1 {
    background-image: url(../images/1.png);
}

.animation-2 {
    background-image: url(../images/2.png);
}

.animation-3 {
    background-image: url(../images/3.png);
}

.animation-4 {
    background-image: url(../images/4.png);
}

.animation-5 {
    background-image: url(../images/5.png);
}

.animation-6 {
    background-image: url(../images/6.png);
}

.animation-7 {
    background-image: url(../images/7.png);
}

.animation-8 {
    background-image: url(../images/8.png);
}